
  <div class="table-responsive col-md-12">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Buy in</th>
          <th>Buy in stakes</th>
          <th>Rebuy</th>
          <th>Rebuy Stakes</th>
          <th>Add on</th>
          <th>Add on Stakes</th>
          <th>Rules</th>
          
        </tr>
      </thead>
      <tbody>
        {{#each tournament }}
        <tr>
          <td>{{tournamentname}}</td>
          <td>{{buyin}}</td>
          <td>{{buyinstakes}}</td>
          <td>{{rebuy}}</td>
          <td>{{rebuystakes}}</td>
          <td>{{addon}}</td>
          <td>{{addonstakes}}</td>
          <td>{{tournamentrules}}</td>
          
        </tr>
        {{/each}}
        </tbody>
        </table>
  </div>
